<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>

    <%- include(appRoot+'/views/partials/head') %>

    <link href="/css/blogpage.css" rel="stylesheet">

    <script src="/js/blogpage.js"></script>
</head>

<body>

<%- include(appRoot+'/views/partials/nav') %>


<div class="container">
    <div class="card mt-4">
        <h3 class="card-header"><%= title %></h3>
        <div class="card-body">
            <p class="card-text"><%- content %></p>
        </div>
        <div class="btn-group" role="group" aria-label="Basic example">
            <button id="like" type="button" class="btn btn-outline-primary">Like</button>
            <button id="follow" type="button" class="btn btn-outline-primary">Follow</button>
            <button id="readLater" type="button" class="btn btn-outline-primary">Read Later</button>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-6">
                    <a href="/<%- username %>" class="text-muted text-decoration-none">
                        <img src="/images/akari.jpg" alt="Profile Picture" width="40" height="40"
                             class="rounded-circle">
                        <%- username %>
                    </a>
                </div>
                <div class="col-6 text-right">
                    <%- new Date(post_time).toUTCString() %>
                </div>
            </div>
        </div>
    </div>

</div>


<%- include(appRoot+'/views/partials/footer') %>

</body>
</html>