<!DOCTYPE html>
<html lang="en">
    <link href="restaurant.css" rel="stylesheet">
    <meta charset="UTF-8">
    <head>
        <title>Chez 326 - Order Confirmation</title>
    </head>
    <body>
        <h1>Chez 326 - Order Confirmation</h1>
        <form action="/confirm" method="POST">
            <h2>Customer Name</h2>
            <div class=customer>
                <div>
                    <label for="first">First Name:</label>
                    <input type="text" name="first" id="first" value="<%= first %>" readonly>
                </div>
                <div>
                    <label for="last">Last Name:</label>
                    <input type="text" name="last" id="last" value="<%= last %>" readonly>
                </div>
            </div>
            <h2>Customer Address</h2>
            <p>Please enter your delivery address.</p>
            <div class=rightalign>
                <label for="streetaddress">Street Address:</label>
                <input type="text" name="streetaddress" id="streetaddress" value="<%= streetaddress %>">
            </div>
            <div class=rightalign>
                <label for="cityaddress">City, State:</label>
                <input type="text" name="cityaddress" id="cityaddress" value="<%= cityaddress %>">
            </div>
            <div>
                <h2>Order</h2>
                <label for="order">Order:</label>
                <textarea type="text" name="order" id="order" rows="4" cols="25" readonly><%= order %>
                </textarea>
            </div>
            <input type="submit">
        </form>
    </body>
</html>
