<!DOCTYPE html>
<html lang="en">
    <link href="restaurant.css" rel="stylesheet">
    <meta charset="UTF-8">
    <head>
        <title>Chez 326 - Customer Status</title>
    </head>
    <body>
        <h1>Chez 326 - Customer Status</h1>
        <h2>Order Status</h2>
        
        <div>
            <%= orderstatus %>
        </div>

        <h2>Customer Name</h2>
        <div class=customer><%= first %> <%= last %></div>
        <h2>Customer Address</h2>
        <p>Please enter your delivery address.</p>
        <div class=lightgrey>
            <%= streetaddress %>
        </div>
        <div class=lightgrey>
            <%= cityaddress %>
        </div>
        <div>
            <h2>Order</h2>
            <p class=lightgrey><%= order %></p>
        </div>

        <form action="/status" method="GET">
            <label for="ordernumber">Order Number:</label>
            <input type="number" name="ordernumber" value=<%= ordernumber %> readonly>
            <input type="submit" value="Refresh">
        </form>
    </body>
</html>
