<!DOCTYPE html>
<html lang="en">
    <link href="restaurant.css" rel="stylesheet">
    <meta charset="UTF-8">
    <head>
        <title>Chez 326 - Service Status</title>
    </head>
    <body>
        <h1>Chez 326 - Service Status</h1>

        <table width=100% class=serverstatus>
            <tr class=lightgrey>
                <th width=200px>Time</th>
                <th>Order</th>
                <th width=100px>Order #</th>
                <th>Name</th>
                <th>Address</th>
                <th width=220px>Status</th>
            </tr>
            <% orders.forEach(function(o) { %>
            <tr>
                <form action="/service" method="POST">
                <td><%= o.timestamp %></td>
                <td><%= o.order %></td>
                <td><input type="number" name="id" value="<%= o.id %>" readonly></td>
                <td><%= o.first %> <%= o.last %></td>
                <td><%= o.streetaddress %><br><%= o.cityaddress %></td>
                    <td><input type="submit" value="<%= o.orderstatus %>"></td>
                </form>
            </tr>
            <% }); %>
        </table>

    </body>
</html>
