<html lang="en">
    <link href="restaurant.css" rel="stylesheet">
    <meta charset="UTF-8">
    <head>
        <title>Chez 326 - Service Status</title>
    </head>
    <body>
        <h1>Chez 326 - Service Status</h1>

        <table width=100%>
            <tr class=lightgrey>
                <th>Time</th>
                <th>Order</th>
                <th>Order #</th>
                <th>Name</th>
                <th>Address</th>
                <th>Status</th>
            </tr>
            <tr>
            <% order.forEach(function(o) { %>
                <td><%= o.timestamp %></td>
                <td><%= o.order %></td>
                <td><%= o.id %></td>
                <td><%= o.first %> <%= o.last %></td>
                <td><%= o.streetaddress %><br><%= o.cityaddress %></td>
                <td><input type="submit" value="<%= o.orderstatus %>"></td>
            <% }); %>
            </tr>
        </table>

    </body>
</html>
